/*
    Document   : local-verificacion-certificado
    Created on : 28-05-2011, 07:58:02 PM
    Author     : Ricardo Contreras S.
    Description:
*/

body {
    background: #f0faff
}

body, table {
    width: 460px
}

table {
    background: #0e51a7
}