/*
    Document   : local-inscripcion
    Created on : 04-may-2012, 20:03:33
    Author     : Ricardo Contreras S.
    Description:
        Purpose of the stylesheet follows.
*/

body {
    background-color: #f0faff;
    font-family: Arial, Verdana, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #00529b
}

.conRequisito {background-color: green; color:#fff !important}
.sinRequisito {background-color: #d12f19; color:#fff !important}
.form-check-input {margin-top: -4px;}

